<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css" >
</head>
    <body>
        <h1>Result of algorithm is shown below</h1>
        <div class=".row">
          <div class=".column3">

                <p>All skills from Listing set are: {{listing_skills}}</p>
                <p>Count of Listing skills: {{listing_skills_len}}</p>
            </div>
          <div class="column3">

              <p>All skills from CV set are: {{cv_skills}}</p>
              <p>Count of CV skills: {{cv_skills_len}}</p>
            </div>
          <div class="column3">
              <p>Matching words from skill set are: {{matching_skills}}</p>
              <p>Count of Matching skills: {{matching_skills_len}}</p>
          </div>
        </div>

    </body>
</html>

