<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css" >
</head>
    <body>
       <h1>Welcome to Joobla</h1>
       <p align="left"><a href=upload><button class=grey style="height:75px;width:150px">Upload CV/Listing</button></a></p>
       <p align="left"><a href=list><button class=grey style="height:75px;width:150px">List Uploaded Files</button></a></p>
       <p align="left"><a href=tryAlgo><button class=grey style="height:75px;width:150px">Try AI/ML/DL algorithm</button></a></p>

    </body>
</html>

