<!DOCTYPE html>
<html>
<head>


<!--/* Create two equal columns that floats next to each other */-->
<!--.column {-->
<!--  float: left;-->
<!--  width: 33%;-->
<!--  padding: 10px;-->
<!--  box-sizing: border-box;-->

<!--}-->

<!--/* Clear floats after the columns */-->
<!--.row:after {-->
<!--  content: "sdasdds";-->
<!--  display: table;-->
<!--  clear: both;-->
<!--  box-sizing: border-box;-->

<!--}-->
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css" >
</head>
<body>

<h2>Algorithm Results</h2>

<div class="row">
    <h3>THE SCORE IS {{final_score}}%</h3>
  <div class="column3" >
    <h2>Listing</h2>
      <p>Count of Listing skills: {{listing_skills_len_total}}</p>
      <h3>Cluster A (Must skills)</h3>
        <a> Match Count: {{listing_skills_must_count }}</a>
      <ul>
            {% for skill in listing_skills_must %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
      <h3>Cluster B (Good to have skills)</h3>
          <a> Match Count: {{listing_skills_good_count }}</a>
      <ul>
            {% for skill in listing_skills_good %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
      <h3>Cluster C (Soft skills)</h3>
      <a> Match Count: {{listing_skills_soft_count }}</a>
      <ul>
            {% for skill in listing_skills_soft %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
  </div>
    <div class="column3">
    <h2>Match</h2>
    <p>Count of Matching skills: {{matching_skills_len_total}}</p>
      <h3>Cluster A (Must skills)</h3>
        <a> Cluster Score: {{score_must}}%</a>
        <a> Match Count: {{matching_skills_must_count }}</a>

      <ul>
            {% for skill in matching_skills_must %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
        <h3>Cluster B (Good to have skills)</h3>
        <a> Cluster Score: {{score_good}}%</a>
        <a> Match Count: {{matching_skills_good_count }}</a>

      <ul>

            {% for skill in matching_skills_good %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
        <h3>Cluster C (Soft skills)</h3>
        <a> Cluster Score: {{score_soft}}%</a>

        <a> Match Count: {{matching_skills_soft_count}}</a>

      <ul>
            {% for skill in matching_skills_soft %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
      </ul>
        <h3>Cluster D (Education)</h3>
            {{ education}}

        <h3>Cluster E (Experience)</h3>
      <ol>
            {% for experience in experience_list %}
            <li>
                    {{ experience }}
            </li>
            {% endfor %}
      </ol>

  </div>
  <div class="column3" >
      <h2>CV</h2>
      <p>Count of CV skills: {{cv_skills_len}}</p>

      <h3>All skills</h3>

        <ul>
            {% for skill in cv_skills %}
            <li>
                <a>
                    {{ skill }}
                </a>
            </li>
            {% endfor %}
        </ul>
  </div>
    <p align="center"><a href="./downloads/{{excel_filename}}"><button class=grey style="height:75px;width:150px">Export to Excel</button></a></p>

</div>

</body>
</html>
